.moveButton {
  float: right;
  font-size: 0.65em !important;
  padding-left: 0.6em !important;
  padding-right: 0.6em !important;
}

.moveButton .icon {
  top: 0.325em !important;
  position: relative;
}

.moveButtonLarge {
  float: right;
  font-size: 0.95em !important;
  padding-left: 0.6em !important;
  padding-right: 0.6em !important;
}

.moveButtonLarge .icon {
  top: 0.325em !important;
  position: relative;
}

.deleteButton {
  float: right;
}

.addForm {
  margin: 0px 10px 10px 10px;
}

.numberField {
  width: 100px;
  margin-right: 5em;
}

.formField {
  margin-top: 10px;
}

.checkTextRow {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}

@media (max-width: 800px) {
  /* on mobile, use vertical layout */
  .checkTextRow {
    flex-direction: column;
    align-items: stretch;
  }
}

.checkedLabel {
  width: 7em;
}

.topOptions {
  margin-bottom: 15px;
}

.saveButtonText {
  font-size: 24px;
}

.deleteButtonText {
  font-size: 14px;
}

.copyForm {
  float: right;
}

.maxPointsCard {
  font-size: 20px;
}

.minimumRequirement .radio label {
  padding-left: 1.35em !important;
}
