.deleteButton {
  float: right;
}

.addForm {
  margin: 0px 10px 10px 10px;
}

.numberField {
  width: 100px;
}

.textField {
  width: 100%;
}

.formField {
  margin-top: 10px;
}

.topOptions {
  margin-bottom: 15px;
}

.saveButtonText {
  font-size: 24px;
}

.deleteButtonText {
  font-size: 14px;
}

.copyForm {
  float: right;
}

.totalMaxPointsCard {
  font-size: 20px;
}