sudo: true
dist: trusty
cache:
  directories:
    - backend/node_modules
    - labtool2.0/node_modules
notifications:
  email: false
  slack:
    secure: otVal+5p4efIi1Ms8lWV64WrAJN22cBjYy/ZLL7ufzoup3ibEcyxuDRDh/0iyUU8BVbyXTJSZsnSPjQHjmCAh0l+BaXAXmr+fMIYXbYr98uPSNReWCadWiDyW2+hbDylz845d6qX0qaMQ0OVc4QPwcanI42h5qTfTjcPc/1PkpIxoNWJM/wcEbdiXk66vOBagkZD46aRxehvAi8f+EEcMNUb5k2BoZDMb/pVKGSRRGHO9uJ1sYzxgFQKmDHgRores/UAfUOr0xnU8X9k3FZ2VqKgxjaLtMiqHDiABUtQblEEXEKspjifonMxc974hgkQwWQ/PvKZhnzatPLKTLjL5tcMXfGxfnznJpIRUBm17H5aGRt8cR/ba9SlCzGKQu5WLXZ+VE6acXgdFjhmkvmp+ESBjZ312F9hKmy2/A8VKJMpZs2W9Nu05HB+1+l6fLkQNCFkCzhAg9xA1aaihyNdPCd6GDarqE26YGL5auN4n/tlajLxUAEN2GxixxRk4e17PFor24xe8tYbp5X1knFFVSiQcUKpItJooDDqBFEkDy7uDk1Tyc4w1/mClQX2gwwUnPmVKeJ4e7E30/4iZsR4xlI8OSL4mc2DIbo4GslGFaf0Bmexku68qJHL0gegw8XNtNr2L+JG0zVbre0r6r0uvrue3tptohPTVKyGngFAq5g=
language: node_js
node_js:
- '8'
before_install:
- cd labtool2.0 && npm config set spin false && npm install -g npm && cd ../backend && npm config set spin false && cd ..
install:
- cd labtool2.0 && npm install && cd ../backend && npm install && cd ..
after_install:
- cd backend; npm run create_test_db; cd ..
after_script:
- cd ../backend; npm run drop_test_db
jobs:
  include:
  - stage: backend
    script: cd backend && npm run test
  - stage: frontend
    script: cd labtool2.0 && npm test_ci
