.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.horizontalScrollableParent .icon::before {
  /* use inline-block, since we might have horizontal scrolling 
     in a table and the icons wouldn't scroll otherwise,
     due to it using transform under the hood */
  display: inline-block;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.success, .error {
  padding: 1em;
  text-align: center;
  color: white;
  font-size: 20px;
}

.success {
  background-color: green;
}

.error {
  background-color: red;
}

.TableRowForDroppedOutStudent {
  background-color: lightgray;
}

.mainContainer {
  margin-left: 10px;
  margin-right: 10px;
}

@media (min-width: 1000px) {
  .mainContainer {
    margin-left: 20px;
    margin-right: 20px;
  }
}
